{% extends "pages/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}
<div class="flex items-center justify-center px-4 py-12 my-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <h1 class="mt-6 text-2xl font-extrabold text-center text-gray-900">{% trans "Change Password" %}</h1>
      <p class="mt-6 text-sm text-center text-indigo-900">{% trans 'Your password is now changed.' %}</p>
    </div>
  </div>
</div>
{% endblock content %}


{% comment %} 
{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
{% endblock %} {% endcomment %}
